{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
