.wp-block-tiger-pro-contacts {
    li {
        width: 100%;
    }

    .socials__list {
        justify-content: space-around;

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }
}
