.wp-block-tiger-pro-contact-info {
    li {
        width: 100%;
    }

    .socials__list {
        justify-content: space-around;

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }

    .subheading {
        font-size: 2.5rem;
    }
}
